<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Responses</h2>
  </div>
  <div class="panel-body">
    <%= render partial: "response_summary", locals: {event: @event} %>
    <% if !@event.in_past? %>
      <hr>
      <h4>Response</h4>
      <%= render 'shared/response_form' %>
    <% end %>
  </div>
</div>
