<% provide(:title, 'Edit Event') %>
<% provide(:form_title, 'Edit Event') %>
<% provide(:button_text, 'Save Changes') %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>
</div>
