<footer class="footer">
  <div class="container">
    <p class="text-muted"><span class="glyphicon glyphicon-warning-sign"></span> Currently in development by <%= link_to 'BrAwnyTime', "https://github.com/BrAwnyTime" %>.</p>
  </div>
</footer>